---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Welcome to Astro." description="test">
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
  <Section>Test</Section>
</Layout>
