---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Portrait from "../components/Portrait.astro";
import Heading from "../components/Heading.astro";
import Body from "../components/Body.astro";
---

<Layout
  title="Vote Jeff Musgrave for school trustee."
  description="Every child should have the opportunity to develop their unique talents to the fullest."
>
  <Section classAttrs="md:items-center">
    <div class="flex flex-col md:flex-row md:gap-10">
      <div class="flex flex-col gap-5 self-center">
        <Heading
          heading="Vote Jeff Musgrave"
          subheading="for School Board Trustee"
        />
        <Portrait
          classAttrs="h-[60vw] md:hidden overflow-hidden object-center"
          imgClassAttrs="-mt-4"
        />
        <Body />
      </div>

      <Portrait
        classAttrs="hidden md:flex lg:h-[80vh] lg:min-h-[40rem] lg:max-h-[45rem] lg:w-full"
        imgClassAttrs="place-self-center"
      />
    </div>
  </Section>
</Layout>
