<p>
  <span class="italic font-bold">Every child</span> should have the opportunity to
  develop their unique talents to the fullest. Your child deserves that opportunity,
  and that's why I am asking for your vote.
</p>

<p>
  Am I qualified to be a school trustee? Absolutely! I am a husband and father.
  I grew up in British Columbia, and I have lived in the Kitchener area for over
  16 years. I work as a website developer, and I have a background in graphic
  design, psychology, and music. As well, I have a multicultural perspective: My
  wife speaks Portuguese, and my mother speaks Japanese.
</p>

<p>
  Why am I running for school board trustee? I am running for school board
  trustee because I am a parent myself. I know that children are innocent and
  vulnerable. And I know that as parents, we want our children to be safe. We
  want to know that they are being taught to share our values. And we want to be
  kept informed of what they are learning in school.
</p>

<p>
  In addition, we want to know that our children are acquiring the most
  essential knowledge and skills, such as reading, writing, arithmetic, computer
  skills, and employment skills. And we want our children to enjoy other
  activities, such as sports and music. As a parent, I know that all parents
  share these concerns, as I do, and that is why I am running for school
  trustee.
</p>
<div>
  <p>What are my top three priorities?</p>
  <ol class="list-decimal pl-8">
    <li>
      Our schools should teach students the knowledge and skills they need for
      success.
    </li>
    <li>Our schools should teach students to think critically.</li>
    <li>
      Our schools should keep parents informed about what their children are
      learning.
    </li>
  </ol>
</div>

<p>
  If you have any questions, <a
    href="/Contact"
    class="font-bold text-orange-500 hover:text-gray-700">contact me by email</a
  >.
</p>
<p>Election Day is October 24, 2022.</p>
<p>Please vote Jeff Musgrave for school trustee. Thank you!</p>
<p class="text-sm text-gray-500 mb-4">
  Find out more about the WRDSB School Board Trustee election at the <a
    href="https://www.kitchener.ca/en/council-and-city-administration/voters.aspx"
    target="_blank"
    class="text-gray-700 hover:text-orange-500">City of Kitchener's website.</a
  >
</p>
