<p>
  <span class="italic font-bold">Every child</span> should have the opportunity to
  develop their unique talents to the fullest. Your child deserves that opportunity,
  and that's why I am asking for your vote.
</p>
<p>
  Am I qualified to be a school trustee? Absolutely! I am a husband and father.
  I grew up in British Columbia, and I have lived in the Kitchener area for over
  16 years. I work as a website developer, and I have a background in graphic
  design, psychology, and music. As well, I have a multicultural perspective: My
  wife speaks Portuguese, and my mother speaks Japanese.
</p>
<p>
  I firmly believe our schools should teach students the knowledge and skills
  they need for success. Our schools should also teach students to think
  critically. And our schools should keep parents informed about what their
  children are learning.
</p>
<p>
  If you have any questions, <a
    href="/Contact"
    class="font-bold text-orange-500 hover:text-gray-700">contact me by email</a
  >.
</p>
<p>Election Day is October 24, 2022.</p>
<p>Please vote Jeff Musgrave for school trustee. Thank you!</p>
<p class="text-sm text-gray-700 mb-4">
  Find out more about the WRDSB School Board Trustee election at the <a
    href="https://www.kitchener.ca/en/council-and-city-administration/voters.aspx"
    target="_blank"
    class="font-bold text-gray-600 hover:text-orange-500"
    >City of Kitchener's website.</a
  >
</p>
