---
import "@fontsource/playfair-display/700.css";
import "@fontsource/playfair-display/400-italic.css";
export interface Props {
  heading: string;
  subheading: string;
}

const { heading, subheading } = Astro.props as Props;
---

<div class="whitespace-nowrap">
  <h1 class="text-5xl md:text-6xl lg:text-7xl text-[#EE3900]">
    {heading}
  </h1>
  <h2 class="text-3xl md:text-4xl italic">{subheading}</h2>
</div>

<style>
  h1,
  h2 {
    font-family: "Playfair Display", serif;
  }
</style>
