---
import "@fontsource/montserrat/700.css";
import "@fontsource/playfair-display/400-italic.css";
export interface Props {
  heading: string;
  subheading: string;
}

const { heading, subheading } = Astro.props as Props;
---

<div class="whitespace-nowrap mt-8 md:mt-0 pb-4">
  <h1 class="text-4xl lg:text-6xl text-[#EE3900] tracking-tighter mb-1">
    {heading}
  </h1>
  <h2 class="text-2xl lg:text-4xl italic text-[#5B5B5B]">
    {subheading}
  </h2>
</div>

<style>
  h1 {
    font-family: "Montserrat", sans-serif;
  }
  h2 {
    font-family: "Playfair Display", serif;
  }
</style>
