---
import Head from "../components/Head.astro";
import "@fontsource/source-sans-3";
import "@fontsource/source-sans-3/700-italic.css";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} description={description} />
  <body>
    <main class="min-h-screen max-w-screen flex">
      <slot />
    </main>
    <style>
      body {
        font-family: "Source Sans 3", sans-serif;
        font-size: 1.25rem;
      }
    </style>
  </body>
</html>
