---
export interface Props {
  classAttrs?: string;
  imgClassAttrs?: string;
}
const { classAttrs, imgClassAttrs } = Astro.props;
---

<div class={classAttrs}>
  <img
    src="/JeffMusgrave-square.jpg"
    class={`md:h-full object-cover ${imgClassAttrs}`}
  />
</div>
