---
export interface Props {
  sticky?: boolean;
  // classAttr: string | undefined;
}

const { sticky = false } = Astro.props as Props;
---

<section
  class={`${sticky && `sticky top-0`} w-full flex items-center justify-center `}
>
  <article class="w-[90vw] max-w-screen-2xl"><slot /></article>
</section>
