---
export interface Props {
  sticky?: boolean;
  classAttrs?: string;
}

const { sticky = false, classAttrs = null } = Astro.props as Props;
---

<section
  class={`${sticky && `sticky top-0`} w-full flex justify-center ${classAttrs}`}
>
  <article class="w-[90vw] max-w-screen-lg"><slot /></article>
</section>
